/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/*** END CSS RESET ***/

body {
	font-size: 62.5%;
	background-color: #ECC8F1;
}

h1 {
	padding: 20px 0 10px 0;
	font-family: 'Orbitron', sans-serif;
	font-size: 4em;
	text-align: center;
}

h2 {
	font-size: 2em;
	text-align: center;
}


footer {
	font-size: 2em;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	margin-bottom: 10px;
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1em;
	}

	footer {
		font-size: 1em;
	}
}

/* remove grey outline when pressing buttons on mobile safari */
a {
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

a:link, a:visited,
a:hover, a:active {
	color: #000;
}

.calculator {
	margin: 30px auto 20px auto;
	padding: 10px 10px 0 10px;
	width: 300px;
	height: 380px;
	border: 3px solid #343434;
	box-shadow: -3px 3px 10px #585858;
	border-radius: 5%;
	background-color: #cdcdcd;
	background: linear-gradient(to top right, #bfbfbf, #ebebeb);
}

.screen {
	text-align: right;
	height: 80px;
	width: 90%;
	margin: 0 auto 10px auto;
	border: 3px solid gray;
	border-radius: 20px;
	font-family: 'Orbitron', sans-serif;
	overflow: hidden;
	background-color: #fff;
}

.small-readout {
	height: 20px;
	line-height: 25px;
	font-size: 1.5em;
	border: 0;
	background-color: #fff;
}


.main-readout {
	border: 0;
	height: 60px;
	font-size: 2.5em;
	line-height: 60px;
	background-color: #fff;
}

.number-button,
.operator-button,
.percent-button,
.clear-button,
.equals-button,
.negative-button {
	width: 20%;
	height: 10%;
	background-color: #000;
	color: #fff;
	font-size: 1.5em;
}

.clear-button {
	background-color: #d40303;
}

.divide-button,
.multiply-button,
.subtract-button,
.decimal-button {
	font-size: 2.5em;
}

.plus-button {
	font-size: 2.5em;
	height: 22%;
	float: right;
	position: relative;
	/*right: 10px;*/
}

.btn {
	outline: 0;
	box-shadow: 0 2px #686868;
	border: 2px solid gray;
	border-radius: 50%/20%;
	margin: 5px;
	margin-left: 10px;
}

.press {
	position: relative;
	top: 2px;
	box-shadow: none;
}

button {
	width: 30px;
	height: 30px;
	float: left;
}


.model {
	font-family: 'Orbitron', sans-serif;
	font-size: 2em;
	text-align: right;
	color: #c30808;
	font-style: italic;
	font-weight: bold;
	padding-right: 10px;
	margin-bottom: 5px;
}
